{% extends 'base.html' %}
{% block title %} Custody Pullout Report {% endblock %}
{% block content %}
{% load static %}
{% load el_pagination_tags %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Custody Pullout Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">Custody Pullout Report</li>
    </ol>
</div>

<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Custody Pullout Report</div>
                    </div>

                    <div class="mt">
                        <form method="get">
                            <div class="row mt-3">
                                <div class="row col-md-6" >
                                    <div id="datePeriodDiv" class="row col-12" style="flex-direction: row;justify-content: space-around;align-items: flex-end;">
                                        <div class="col-md-4">
                                            <label for="start_date">From Date:</label>
                                            <input name="start_date" type="date" class="form-select" value="{% if start_date %}{{ start_date }}{% endif %}">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="end_date">To Date:</label>
                                            <input name="end_date" type="date" class="form-select" value="{% if end_date %}{{ end_date }}{% endif %}">
                                        </div>
                                        <div class="col-md-4">
                                            <select name="route_pk" class="form-select me-2">
                                                <option value="">All Routes</option>
                                                {% for route in route_li %}
                                                    <option value="{{ route.pk }}" {% if route.pk == filter_data.route_pk %}selected{% endif %}>{{ route.route_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-6 mt-4">
                                    <div class="col-md-5 text-end">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetFilters()">Reset Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Sl No</th>
                                        <th>Customer ID</th>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Serial Numbers</th>
                                        <th>Amount</th>
                                        <th>Return Date</th>
                                        <th>Reference No</th>
                                        <th>Agreement No</th>
                                        <th>Deposit Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% paginate 50 report_items %}
                                    {% for item in report_items %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.customer_return.customer.custom_id }}</td>
                                            <td>{{ item.customer_return.customer.customer_name }}</td>
                                            <td>{{ item.product.product_name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.serialnumber }}</td>
                                            <td>{{ item.amount }}</td>
                                            <td>{{ item.customer_return.created_date|date:"d/m/Y" }}</td>
                                            <td>{{ item.customer_return.reference_no }}</td>
                                            <td>{{ item.customer_return.agreement_no }}</td>
                                            <td>{{ item.customer_return.deposit_type }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="10">No data found for selected date range.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-end"><strong>Total</strong></td>
                                        <td><strong>{{ total_quantity }}</strong></td>
                                        <td></td>
                                        <td><strong>{{ total_amount }}</strong></td>
                                        <td colspan="4"></td>
                                    </tr>
                                </tfoot>

                            </table>

                            <!-- Pagination -->
                            {% get_pages %}
                            <div class="clearfix"></div>
                            <div class="row pagi my-3">
                                <div class="col-sm-6 col-xs-6 tot my-pagination">
                                    <div class="m-t-10 text-start">
                                        Showing {{title}}
                                        <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                        class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                        class="total_count">{{ pages.total_count }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- card -->
            </div> <!-- col-xl-12 -->
        </div> <!-- row -->
    </div> <!-- container-fluid -->
</div> <!-- main-content -->

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $('#submit').click(function(e) {
        e.preventDefault();
        // Show the table when dates are selected
        $('#table-container').show();
    });
</script>

<script>
    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'pullout_report' %}";
    }
</script>

{% endblock %}
